<form action="/login" method="POST">
    <div class="vk-form-group">
        <label for="email"><i class="fas fa-envelope"></i> Email:</label>
        <input type="email" id="email" name="email" class="vk-form-control" value="<%= typeof email !== 'undefined' ? email : '' %>" required>
    </div>
    
    <div class="vk-form-group">
        <label for="password"><i class="fas fa-lock"></i> Пароль:</label>
        <input type="password" id="password" name="password" class="vk-form-control" required>
    </div>
    
    <div class="vk-form-group">
        <label>
            <input type="checkbox" name="remember" <%= typeof remember !== 'undefined' && remember ? 'checked' : '' %>>
            Запомнить меня
        </label>
    </div>
    
    <button type="submit" class="vk-btn">
        <i class="fas fa-sign-in-alt"></i> Войти
    </button>
</form>